@font-face {
  font-family: "chalk";
  src: url("./assets/fonts/chalk.ttf") format("truetype");
}

body {
  font-family: "chalk";
  height: 100vh;
  padding: 0;
  margin: 0;
}

main {
  height: 100vh;
  position: relative;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

h2 {
  font-size: 3rem;
  color: white;
  position: absolute;
  top: 15%;
  left: 33%;
}

h2.messsage {
  font-size: 5rem;
  color: white;
  position: absolute;
  top: 53%;
  left: 34.5%;
}

p.subtitle {
  font-size: 1.2rem;
  position: absolute;
  color: #fff;
  top: 25%;
  left: 31.5%;
  font-weight: 100;
}

.container {
  position: absolute;
  justify-content: space-between;
  top: 39%;
  left: 39%;
  display: flex;
}

.square {
  width: 120px; /* Adjust the width as needed */
  height: 140px; /* Set the same value as the width for a square */
  background: transparent; /* Set the background color to transparent */
  border: 4px solid #fff; /* Set the border color to white */
  border-radius: 10%;
  box-sizing: border-box; /* Include border and padding in the total width and height */
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.square p {
  color: #fff;
  /* text-align: center; */
  margin: 0;
  display: flex;
  justify-content: center;
}

.square .number {
  font-size: 3rem;
}

.square .measurement {
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  h2 {
    font-size: 2rem;
    top: 25%;
    left: 36%;
  }
}
